# Global
python_dotenv

# API
fastapi         # API
uvicorn         # FastAPI dependency (neeeds to be in PATH)
                # `uvicorn api:app --reload`

# DB
sqlalchemy
sqlalchemy_utils
psycopg2-binary
